.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:rgba(58, 57, 57, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .contact-name{
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
  .title {
    color: white;
    font-size: 18px;
    opacity: 0.7; /* set the opacity to 70% */
    padding: 8px;
  }
  .education {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 8px;
  }

  .eggyimg{
    width:100%;
  }

.NeoDeck{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:rgba(58, 57, 57, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  box-shadow: 3px 3px 5px 3PX white;
}

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

.BoxShaddow-white {
  box-shadow: 3px 3px 5px 3PX white;
}
  